{% extends 'v2/base/crud/list/list.html' %}

{% block list-search %}
    <div class="row">
        <div class="col-md col-md-6">
            {% include "v2/common/forms/search/input_search_simple.html" with placeholder_input_search='Buscar asesor por codigo, dni, nombre..' %}
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="input-group">
                <select id="id-select-country" name="country_id" class="custom-select form-control"
                        rel="action-select">
                    <option value="">Seleccione pais</option>
                    {% for c in countries %}
                        <option value="{{ c.id }}"
                                {% if c.id == country_id %}selected{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md col-md-3">
            {% include "v2/common/forms/search/btn_search.html" %}
        </div>
    </div>
{% endblock %}

{% block list-table-head-colums %}
    <th>Codigo</th>
    <th>DNI</th>
    <th>Nombre</th>
    <th class="text-center">Opciones</th>
{% endblock %}


{% block list-table-body-rows %}
    {% for object in advisers %}
        <tr>
            <td>{{ object.code }}</td>
            <td>{{ object.dni }}</td>
            <td>{{ object.names }}</td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a
                            href="{% url 'advisers:manager_update' object.id %}"
                            class="btn btn-primary btn-sm"
                            data-toggle="tooltip"
                    >
                        <i class="fa fa-edit"></i>
                    </a>
                    <a
                            href="#"
                            rel="rel-action-delete"
                            class="btn btn-danger btn-sm"
                            data-id="{{ object.id }}"
                            data-toggle="tooltip"
                    >
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="#"
                       rel="rel-view-adviser"
                       class="rounded-5 btn btn-info btn-sm"
                       data-id="{{ object.id }}"
                       data-toggle="tooltip"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Ver asesores">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


{% block content-modal %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Asesores
                        <span class="badge bg-primary" id="id-modalTitle"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mt-4">
                        <table class="table table-striped mb-0" role="grid">
                            <thead class="table-primary">
                            <tr>
                                <th>Codigo</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Celular</th>
                            </tr>
                            </thead>
                            <tbody id="id-detailAdviserBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base-body-js %}

    <script>
        const objElevate = {
            action: '{{ action }}',
            backUrl: '{{ back_url | safe }}',
            deleteUrl: `{{ request.path }}/delete`

        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $table: document.querySelector('#id-table > tbody')
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    deleteRegisterFacade: (id, target) => ConfirmCommon.exec({
                        confirmCallback: () => objD.fun.deleteRegister(id, target),
                    }),
                    deleteRegister: async (id, target) => {
                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.delete({
                            path: `${objElevate.deleteUrl}/${id}`
                        })

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        target.closest('tr').remove()
                    },
                    getAdviserList: async (managerId) => {
                        const formData = new FormData()
                        formData.append("action", 'adviser_list')
                        formData.append("manager_id", managerId)

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({
                            formData
                        })

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        const  htmlP = data.adviser_list.map(elem =>
                            `
                                <tr>
                                    <td>${elem.code}</td>
                                    <td>${elem.dni}</td>
                                    <td>${elem.names}</td>
                                    <td>${elem.email}</td>
                                    <td>${elem.cell_phone}</td>
                                </tr>
                            `
                        ).join('')

                        document.getElementById('id-detailAdviserBody').innerHTML = htmlP
                        $('#exampleModal').modal('show')
                    },
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////

            objD.elem.$table.addEventListener('click', async (event) => {
                const target = event.target.closest('a[rel="rel-action-delete"]');
                const targetViewAdviser = event.target.closest('a[rel="rel-view-adviser"]');

                if (target) {
                    event.preventDefault();
                    const id = target.dataset.id

                    objD.fun.deleteRegisterFacade(id, target)
                }

                if (targetViewAdviser) {
                    event.preventDefault()

                    const id = targetViewAdviser.dataset.id

                    await objD.fun.getAdviserList(id)
                }
            });

        })

    </script>
{% endblock %}
