{% extends 'v2/base/base.html' %}

{% block base-sidebar %}

{% endblock %}

{% block base-header %}

{% endblock %}

{% block base-sub-header %}

    {% include 'v2/common/components/header/sub-header.html' %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="margin-top: -70px">
                    <div class="card-header">
                        <h2>Consulta de titulos y registros</h2>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div class="row pb-2">
                            <div class="col-lg-12">
                                {% if errors %}
                                    <div
                                            class=" alert alert-primary"
                                            role="alert"
                                            id="id-{% if alert_id %}{{ alert_id }}{% endif %}Alert"
                                    >
                                        <div class="d-flex align-items-center">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            <div class="alert-heading fs-3 fw-bold">
                                                Error
                                            </div>
                                        </div>
                                        <ul>
                                            {{ errors }}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <form id="id-form" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="control-label col-sm-2 align-self-center mb-0 text-black" for="id-nationality">Nacionalidad *</label>
                                <div class="col-sm-10">
                                    <select name="country" class="select form-control" id="id-nationality" required>
                                        <option value="" {% if not country %} selected="" {% endif %}>
                                            ---------------
                                        </option>

                                        {% for sys_country in sys_country_list %}
                                            <option value="{{ sys_country.id }}" {% if sys_country.id == country %} selected="" {% endif %}>
                                                {{ sys_country.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-2 align-self-center mb-0 text-black" for="id-identification">Identificacion *</label>
                                <div class="col-sm-10">
                                    <input type="text" name="identification" maxlength="100" class="form-control" required value="{{ identification }}" id="id-identification">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2">
                                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                                </div>
                            </div>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-lg btn-primary btn-lg rounded-5">
                                    <b>Buscar registro</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card border-bottom border-4 border-0 border-primary">
                    <div class="card-body">
                        <div class="">
                            {% if student %}
                                <h2 class="text-center my-4">Informaciòn del usuario</h2>
                                <div class="table-responsive">
                                    <table style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td class="pr-3 text-black" style="width: 50%">Identificacion:</td>
                                            <td class="">{{ student.dni }}</td>
                                        </tr>
                                        <tr>
                                            <td class="pr-3 text-black" style="width: 50%">Nombres:</td>
                                            <td class="text-left">{{ student.names }}</td>
                                        </tr>
                                        <tr>
                                            <td class="pr-3 text-black" style="width: 50%">Gènero:</td>
                                            <td class="text-left">{{ student.get_gender_display }}</td>
                                        </tr>
                                        <tr>
                                            <td class="pr-3 text-black" style="width: 50%">Nacionalidad:</td>
                                            <td class="text-left">{{ student.country }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                {% if identification %}
                                    <div class="alert alert-danger mb-0 mt-5" role="alert">
                                        No existe registro con el siguiente dni {{ identification }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% for type_registries in type_registries_list %}
                            <div class="card border-bottom border-4 border-primary">
                                <div class="card-header">
                                    <div class="bg-soft-primary rounded-3 p-3">
                                        <div class="d-flex justify-content-start">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M13,2.05C18.05,2.55 22,6.82 22,12C22,13.45 21.68,14.83 21.12,16.07L18.5,14.54C18.82,13.75 19,12.9 19,12C19,8.47 16.39,5.57 13,5.08V2.05M12,19C14.21,19 16.17,18 17.45,16.38L20.05,17.91C18.23,20.39 15.3,22 12,22C6.47,22 2,17.5 2,12C2,6.81 5.94,2.55 11,2.05V5.08C7.61,5.57 5,8.47 5,12A7,7 0 0,0 12,19M12,6A6,6 0 0,1 18,12C18,14.97 15.84,17.44 13,17.92V14.83C14.17,14.42 15,13.31 15,12A3,3 0 0,0 12,9L11.45,9.05L9.91,6.38C10.56,6.13 11.26,6 12,6M6,12C6,10.14 6.85,8.5 8.18,7.38L9.72,10.05C9.27,10.57 9,11.26 9,12C9,13.31 9.83,14.42 11,14.83V17.92C8.16,17.44 6,14.97 6,12Z">
                                                </path>
                                            </svg>
                                            <h5 class="font-weight-bold ms-4">Registros de {{ type_registries.name|title }} - {{ type_registries.detail|title }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0">
                                            <thead class="table-success">
                                            <tr>
                                                <th scope="col">Titulo o Certificado</th>
                                                <th scope="col">Institucion</th>
                                                <th scope="col">Pais</th>
                                                <th scope="col">Fecha de Emisión</th>
                                                <th scope="col">Código Internacionla de Registro</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for student_registers  in type_registries.student_registers_list %}
                                                <tr>
                                                    <td>{{ student_registers.certificate }}</td>
                                                    <td>{{ student_registers.institution }}</td>
                                                    <td>{{ student_registers.country }}</td>
                                                    <td>{{ student_registers.date_issue }}</td>
                                                    <td>{{ student_registers.code_international_register }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base-body-js %}

    <script>
        const objElevate = {}
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form')
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {}
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
        })

    </script>
{% endblock %}
