{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block container-main %}
    <div class="container-fluid card min-vh-100" style="margin-top: 3rem;">
        <div class="row">
            <aside class="col-lg-12 col-md">
                <div>
                    <div class="card-body">
                        <div class="text-center" style="margin-top: 2rem">
                            <img src="/static/img/logo/gr-logo.png" height="120">
                        </div>

                        <div class="font-weight-bold" style="padding-left: 8rem; padding-right: 8rem; margin-top: 3rem; font-size: 2rem">
                            BIENVENIDO A <b style="color: black">GLOBAL REGISTRY</b>
                        </div>

                        <hr>

                        <div style="padding-left: 8rem; padding-right: 8rem; margin-top: 3rem" class="text-justify">

                            <h4 class="font-weight-bold">
                                Bienvenido a <b style="color: black">Global Registry</b>. Somos una comunidad que busca impulsar el desarrollo educativo y
                                profesional de todas las personas a nivel global, permitiendo el registro y verificación de sus
                                conocimientos adquiridos a través de nuestra plataforma con sistema Blockchain que permite
                                manejar la información de la manera más segura posible.

                            </h4>

                            <h4 class="pt-4 font-weight-bold">
                                Cada una de las instituciones que pertenecen a nuestra comunidad se ven beneficiados por nuestra
                                propuesta de valor única que es la de verificar sus títulos o certificaciones a nivel internacional,
                                permitiendo a los estudiantes validar sus conocimientos en el entorno laboral y dando un alcance
                                global a cada una de nuestras instituciones miembros.
                            </h4>

                            <h4 class="pt-4 font-weight-bold">
                                Para dar sus primeros pasos, deberá ingresar a la opción Configuración de datos donde deberá
                                ingresar el nombre de su institución, el tipo de institución que es, su representante legal y el nivel
                                académico del representante legal, todo con su respectiva evidencia adjunta para su verificación.
                                Previo a la revisión y aprobación de su institución, podrá comenzar a adquirir registros para ingresar
                                la validación de sus títulos o certificaciones otorgadas.
                            </h4>

                        </div>

                        <br>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}

{% block jscript %}
{% endblock %}
