{% extends 'v2/base/base.html' %}

{% block base-sidebar %}

{% endblock %}

{% block base-header %}

{% endblock %}

{% block base-sub-header %}
{% endblock %}

{% block base-main-content %}
    <div class="wrapper">
        <div class="iq-auth-page">
            <nav class="navbar iq-auth-logo">
                <div class="container-fluid">
                    <a href="../../dashboard/" class="iq-link d-flex align-items-center">
                        {#                                                <img src="../../assets/images/favicon.ico" alt="logo" loading="lazy"/>#}
                        {#                                                <h4 data-setting="app_name" class="mb-0">Hope UI</h4>#}
                    </a>
                </div>
            </nav>
            {#            <div class="iq-banner-logo d-none d-lg-block">#}
            {#                <img class="auth-image" src="/static/img/logo/sinnnnn.png" alt="logo-img" loading="lazy"/>#}
            {#            </div>#}
            <div class="iq-banner-logo d-none d-lg-block">
                <img class="auth-image" src="/static/img/logo/sinnnnn.png" alt="logo-img" loading="lazy"/>
            </div>
            <div class="container-inside">
                <div class="main-circle circle-small"></div>
                <div class="main-circle circle-medium"></div>
                <div class="main-circle circle-large"></div>
                <div class="main-circle circle-xlarge"></div>
                <div class="main-circle circle-xxlarge"></div>
            </div>
            <div class="row d-flex align-items-center iq-auth-container w-100">
                <div class="col-10 col-xl-4 offset-xl-7 offset-1">
                    <div class="card p-3 rounded-4">
                        <div class="card-body">
                            <form id="id-form">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        <img
                                                class="text-center"
                                                src="/static/img/logo/logo-global-2.jpeg"
                                                style="width: 200px"
                                        >
                                    </div>
                                </div>
                                <h3 class="text-center pt-4">Login</h3>
                                <p class="text-center">Permanece siempre conectado</p>
                                <div class="row pb-2">
                                    <div class="col-lg-12">
                                        {% include 'v2/common/components/alert/alert.html' with type_feature_alert=4 hidden_alert=True %}
                                    </div>
                                    <div class="col-lg-12">
                                        {% include 'v2/common/components/alert/alert.html' with type_feature_alert=1 hidden_alert=True  alert_id='alertInfo' %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
                                    {{ form.password }}
                                </div>
                                <div class="form-group row pt-2 pb-5">
                                    <div class="col-sm-12 d-flex justify-content-center text-center ">
                                        <div id="id-recaptchaSimple" class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                                    </div>
                                </div>
                                <div class="text-center pb-3">
                                    <button type="submit" class="btn btn-success rounded-5 w-100">Iniciar sesión</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="../../dashboard/auth-pro/reset-password.html">¿Olvidaste tu contraseña?</a>
                                </div>
                                <p>
                                    No tienes una cuenta?
                                    <a href="/security/sign-up" class="ms-2">
                                        Click aki para registrarte.
                                    </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base-body-js %}

    <script>
        let messageError = ""
        let messageInfo = ""
        {% if messages %}
            {% for message in messages %}
                {% if message.tags.lower == 'error' %}
                    messageError = "{{ message }}"
                {% endif %}
                {% if message.tags.lower == 'info' %}
                    messageInfo = "{{ message }}"
                {% endif %}
            {% endfor %}
        {% endif %}

        const objElevate = {
            messageError,
            messageInfo
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {
                    alertInfoId: 'alertInfo'
                },
                elem: {
                    $form: document.getElementById('id-form'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    submit: async () => {
                        const formData = new FormData(objD.elem.$form)

                        const response = grecaptcha.getResponse()

                        if (response.length === 0)
                            return AppSystem.handleComp.alert.alert.show({
                                title: "Captcha es obligatorio.",
                                typeFeature: AppSystem.CONSTANT.typeFeature.danger
                            })


                        AppSystem.fun.showLoadingUi()
                        AppSystem.handleComp.alert.alert.hidden({})

                        const {code, message, data, ...stateExtra} = await ClientHttpFetch.exec(
                            location.pathname,
                            formData
                        )

                        AppSystem.fun.hiddenLoadingUi()

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind) {

                            grecaptcha.reset()

                            let errorHtml = '<ul class="ms-5 d-block">'
                            data?.errors?.map(elem => errorHtml += `<li>${elem}</li>`)
                            errorHtml += '</ul>'

                            AppSystem.handleComp.alert.alert.show({
                                title: message,
                                content: errorHtml,
                                typeFeature: AppSystem.CONSTANT.typeFeature.danger
                            })
                            return
                        }

                        window.location = '/'
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            if (objElevate.messageError)
                AppSystem.handleComp.alert.alert.show({title: objElevate.messageError,})

            if (objElevate.messageInfo)
                AppSystem.handleComp.alert.alert.show({
                    title: objElevate.messageInfo,
                    typeFeature: AppSystem.CONSTANT.typeFeature.info,
                    id: objD.CONSTANT.alertInfoId
                })

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                objD.fun.submit()
            })

        });
    </script>
{% endblock %}

