{% extends 'v2/base/base.html' %}

{% block base-sidebar %}

{% endblock %}

{% block base-header %}

{% endblock %}

{% block base-sub-header %}

    {% include 'v2/common/components/header/sub-header.html' %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-bottom border-4 border-0 border-primary" style="margin-top: -70px">
                    <div class="card-header">
                    </div>
                    <div class="card-body" style="margin: 50px">
                        <div style="text-align: justify">
                            <h5 class="text-justify">
                                Bienvenido a <b>Global Registry</b>. Somos una comunidad internacional que busca impulsar el desarrollo educativo y profesional
                                de todas las personas a nivel global, permitiendo el registro y verificación de sus conocimientos adquiridos a través de
                                nuestra plataforma con sistema Blockchain que permite manejar la información de la manera más segura posible.
                            </h5>

                            <h5 class="mt-5">
                                Si es una institución de educación puede proceder a ingresar a su usuario o crear uno. Si es un particular, puede proceder a
                                consultar los registros de títulos y certificaciones internacionalmente reconocidos.
                            </h5>
                        </div>
                        <div class="text-center py-5">
                            <a href="{% url 'login' %}" class="btn btn-lg btn-primary rounded-5 mt-3">
                                <b>Login or Sign up</b>
                            </a>
                            <a href="{% url 'query_general' %}" class="btn btn-lg btn-success rounded-5 mt-3">
                                <b>Consulta de Títulos y Certificados</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block base-head-js %}

    <script>
        let messageError = null
        let messageInfo = null

        {% if messages %}
            {% for message in messages %}

                {% if message.tags.lower == 'error' %}
                    messageError = "{{ message }}"
                {% endif %}
                {% if message.tags.lower == 'info' %}
                    messageInfo = "{{ message }}"
                {% endif %}
            {% endfor %}
        {% endif %}

        const objElevate = {
            messageError,
            messageInfo
        }


    </script>
{% endblock %}