{% extends 'v2/base/base.html' %}

{% block base-sidebar %}

{% endblock %}

{% block base-header %}

{% endblock %}

{% block base-sub-header %}
{% endblock %}

{% block base-main-content %}
    <div class="wrapper">
        <div class="iq-auth-page">
            <nav class="navbar iq-auth-logo">
                <div class="container-fluid">
                    {#                                <a href="../../dashboard/" class="iq-link d-flex align-items-center">#}
                    {#                                    <img#}
                    {#                                            src="/static/img/logo/logo-global-2.jpeg"#}
                    {#                                            height="120"#}
                    {#                                    >#}
                    {#                                </a>#}
                </div>
            </nav>
            <div class="iq-banner-logo d-none d-lg-block">
                <img class="auth-image" src="/static/img/logo/sinnnnn.png" alt="logo-img" loading="lazy"/>
            </div>
            <div class="container-inside">
                <div class="main-circle circle-small"></div>
                <div class="main-circle circle-medium"></div>
                <div class="main-circle circle-large"></div>
                <div class="main-circle circle-xlarge"></div>
                <div class="main-circle circle-xxlarge"></div>
            </div>
            <div class="row d-flex align-items-center iq-auth-container">
                <div class="col-10 col-xl-4 offset-xl-7 offset-1">
                    <div class="card px-3 rounded-4">
                        <div class="card-body">
                            <form id="id-form" method="post">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        <img
                                                class="text-center"
                                                src="/static/img/logo/logo-global-2.jpeg"
                                                style="width: 200px"
                                        >
                                    </div>
                                </div>
                                {% csrf_token %}
                                <h3 class="text-center pt-2">Registrate</h3>
                                <p class="text-center">Crea una cuenta en {{ system_name }}</p>
                                <div class="row pb-2">
                                    <div class="col-lg-12">
                                        {% include 'v2/common/components/alert/alert.html' with type_feature_alert=4 hidden_alert=True %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label
                                                    class="form-label"
                                                    for="{{ form.password1.id_for_label }}"
                                            >
                                                {{ form.password1.label }}:
                                            </label>
                                            {{ form.password1 }}
                                            {{ form.password1.errors }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label
                                                    class="form-label"
                                                    for="{{ form.password2.id_for_label }}"
                                            >
                                                {{ form.password2.label }}:
                                            </label>
                                            {{ form.password2 }}
                                            {{ form.password2.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pt-2 pb-2">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div id="id-recaptchaSimple" required class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center pb-3">
                                    <button type="button" id="id-save" class="btn btn-primary rounded-5 w-100">Registrarse</button>
                                </div>
                                <p class="text-center">
                                    Ya tienes cuenta
                                    <a href="/security/login" class="ms-2">Volver a login</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block base-body-js %}

    <script>
        let messageError = ""
        {% if messages %}
            {% for message in messages %}
                {% if message.tags.lower == 'error' %}
                    messageError = "{{ message }}"
                {% endif %}
            {% endfor %}
        {% endif %}

        const objElevate = {
            messageError
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form'),
                    $password1: document.getElementById('id_password1'),
                    $password2: document.getElementById('id_password2'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    submit: async () => {
                        const response = grecaptcha.getResponse()

                        if (response.length === 0)
                            return AppSystem.handleComp.alert.alert.show({title: "Captcha es obligatorio.",})

                        if (objD.elem.$password1.value !== objD.elem.$password2.value)
                            return AppSystem.handleComp.alert.alert.show({title: "Los password no son iguales.",})

                        if (objD.elem.$password1.value.length < 6)
                            return AppSystem.handleComp.alert.alert.show({title: "La contraseña debe ser mayor a 6 caracteres."})

                        objD.elem.$form.submit()

                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            if (objElevate.messageError)
                AppSystem.handleComp.alert.alert.show({title: objElevate.messageError,})

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
            document.getElementById('id-save').addEventListener('click', (e) => {
                objD.fun.submit()
            })

        });
    </script>
{% endblock %}


