#############################################
# Variables utilizadas en docker-compose.yaml
#############################################

# https://cloud.google.com/functions/docs/configuring/memory
DOCKER_LIMITS_CPUS='0.5'
DOCKER_LIMITS_MEMORY='256M'

APP_ENV='local'
VS_DEBUGGING=0

# Django Setting
DJANGO_DEBUG=1
DJANGO_SECRET_KEY="hg*1+-v#*^-s!r*jg@^w+23r@"
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
DJANGO_SETTINGS_MODULE="api.settings"
DJANGO_LANGUAGE_CODE="en-us"
DJANGO_TIME_ZONE="America/Guayaquil"
DJANGO_USE_TZ=0

# DataBase Connection local
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=central-global-registry-local
SQL_USER=local_db_usr
SQL_PASSWORD=local_db_pass
SQL_HOST=central-devs-psql-local
SQL_PORT=5432


# DataBase Connection prod
# SQL_ENGINE=django.db.backends.postgresql
# SQL_DATABASE=central-global-registry-prod
# SQL_USER=postgres
# SQL_PASSWORD=
# SQL_HOST=central-devs-psql-prod
# SQL_PORT=5433

# Server Google Gmail Test: test.developer.ec@gmail.com
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_PORT=587
EMAIL_HOST_USER="test.developer.ec@gmail.com"
EMAIL_HOST_PASSWORD="dttirjembpfgsqfl"


# RECAPTCHA
RECAPTCHA_SECRET_KEY=6LfMRDcjAAAAALKTL-qprvIIct32DoIQn1wOzVDA
RECAPTCHA_SITE_KEY=6LfMRDcjAAAAAA4shGPgRJ8Wdw6dAKjvFA0CA2uv