.env
*.pyc
__pycache__/
/setup.cfg
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
node_modules/
local_dir/
venv/
staticfiles/
mediafiles/
nginx/
service-account.json
gcp/
supervisord.log
supervisord.pid
