{% extends 'v2/base/crud/template/template.html' %}

{% load crispy_forms_tags %}

{% block template-content %}
    <h4 class="font-weight-bold"><b>{{ title_label }}</b></h4>
    <hr>
    <p class="font-weight-bold">
        <b>
            Bienvenidos al portal de ingreso internacional de registros de títulos y certificaciones de su institución. Aquí podrá ingresar los
            certificados que ha emitido a sus estudiantes. Le recordamos que la información ingresada se encuentra bajo estricta responsabilidad de
            su institución.
        </b>
    </p>
    <div class="row mt-5">
        <div class="col-lg-12">

            <form method="POST" action="" enctype="multipart/form-data" id="id-form">
                <div class="alert alert-danger d-none" role="alert" id="id-alert"></div>
                {% csrf_token %}

                <div class="card mb-4">

                    <div class="card-header">
                        <h3 class="card-title text-center mb-3">
                            Buscar estudiante
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="row pb-2">
                            <div class="col-lg-12">
                                {% include 'v2/common/components/alert/alert.html' with type_feature_alert=4 hidden_alert=True %}
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label class="control-label col-sm-3 align-self-center mb-0 text-black" for="{{ form.identification.id_for_label }}">{{ form.identification.label }}:</label>
                            <div class="col-sm-6">
                                {{ form.identification }}
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-success ml-2" type="submit" id="id-btnSave">
                                    <i class="fas fa-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 align-self-center mb-0 text-black" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                            <div class="col-sm-9">
                                {{ form.name }}
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <button class="btn btn-success ml-2 d-none" type="button" id="id-btnAddStudent">
                            <i class="fas fa-plus"></i> Crear estudiante
                        </button>
                        <a type="button" class="btn btn-secondary" href="{% url "students:students_registers" %}">
                            <i class="fa fa-arrow-left"></i> Atras
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block base-body-js %}

    <script>
        const objElevate = {}
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form'),
                    $name: document.getElementById('id_name'),
                    $alert: document.getElementById('id-alert'),
                    $btnAddStudent: document.getElementById('id-btnAddStudent'),
                    $identification: document.getElementById('id_identification'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    submit: async () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", "search")

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind) {

                            if (code === ClientHttpFetch.CONSTANT.statusCode.NotFound)
                                objD.elem.$btnAddStudent.classList.remove('d-none');

                            objD.elem.$name.value = data.message
                            return
                        }

                        objD.elem.$name.value = data.student.first_name

                        window.location = `/students/students-registers/create?student_id=${data.student.id}`
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                objD.fun.submit()
            })

            objD.elem.$btnAddStudent.addEventListener('click', () => {
                window.location = `{% url "students:students_create" %}?dni=${objD.elem.$identification.value}`
            })
        });
    </script>
{% endblock %}
