<div id="id-loadContent" class="loader-wrapper text-center d-none">
    <div class="spinner-border text-primary" role="status" style="margin: auto;margin-top: calc(40vh);width: 3rem; height: 3rem;">
    </div>
    <br>
    <span class="text-black-50">Cargando...</span>
</div>

<div id="id-loadContent2" class="loader-wrapper text-center d-none">
    <div class="spinner-border text-primary" role="status" style="margin: auto;margin-top: calc(40vh);width: 3rem; height: 3rem;">
    </div>
    <br>
    <span class="text-black-50">Cargando...</span>
</div>

<div id="id-loadContent3" class="loader-wrapper text-center d-none">
    <div class="spinner-border text-primary" role="status" style="margin: auto;margin-top: calc(40vh);width: 3rem; height: 3rem;">
    </div>
    <br>
    <span class="text-black-50">Cargando...</span>
</div>