{% if isTour %}
    <!-- Tour plugin Start -->
    <script src="/static/v2/vendor/sheperd/dist/js/sheperd.min.js"></script>
    <script src="/static/v2/js/plugins/tour.js" defer></script>
{% endif %}

{% if isFlatpickr %}
    <!-- Flatpickr Script -->
    <script src="/static/v2/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/static/v2/js/plugins/flatpickr.js" defer></script>
{% endif %}

{% if isSelect2 %}
    <!-- Select2 Script -->
    <script src="/static/v2/js/plugins/select2.js" defer></script>
{% endif %}