{% extends 'v2/base/crud/form/form.html' %}

{% block base-body-js %}

    <script>
        const objElevate = {
            successUrl: '{{ success_url }}'
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form'),
                    $dni: document.getElementById('id_dni'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    submitFacade: () => ConfirmCommon.exec({
                        confirmCallback: () => objD.fun.submit()
                    }),
                    submit: async () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", 'add')
                        formData.append("student_id", objElevate.studentId)

                        if (objD.elem.$dni.length < 1)
                            return AppSystem.handleComp.alert.alert.show({title: "Dni debe tener mas de un digito.", typeFeature: AppSystem.CONSTANT.typeFeature.danger})


                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        window.location = objElevate.successUrl
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                objD.fun.submitFacade()
            })

        });
    </script>
{% endblock %}
