{% extends 'v2/base/crud/form/form.html' %}

{% block base-body-js %}

    <script>
        const objElevate = {
            successUrl: '{{ success_url }}'
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form'),
                    $dni: document.getElementById('id_dni'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    submit: async () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", 'add')
                        formData.append("student_id", objElevate.studentId)

                        if (objD.elem.$dni.length < 1)
                            return AppSystem.handleComp.alert.alert.show({title: "Dni debe tener mas de un digito.", typeFeature: AppSystem.CONSTANT.typeFeature.danger})


                        AppSystem.fun.showLoadingUi()
                        AppSystem.handleComp.alert.alert.hidden({})

                        const {code, message, data, ...stateExtra} = await ClientHttpFetch.exec(
                            location.pathname,
                            formData
                        )

                        AppSystem.fun.hiddenLoadingUi()

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind) {
                            let errorHtml = '<ul class="ms-5 d-block">'
                            data?.errors.map(elem => errorHtml += `<li>${elem}</li>`)
                            errorHtml += '</ul>'

                            AppSystem.handleComp.alert.alert.show({title: message, content: errorHtml, typeFeature: AppSystem.CONSTANT.typeFeature.danger})
                            return
                        }

                        window.location = objElevate.successUrl
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////
            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                objD.fun.submit()
            })

        });
    </script>
{% endblock %}
