{% extends 'v2/base/crud/template/template.html' %}

{% load crispy_forms_tags %}

{% block template-content %}
    <h2 class="mb-5">Dashboard administrador</h2>

    <div class="row">
        <div class="col-lg-12">
            {% include 'v2/common/components/alert/alert.html' with type_feature_alert=4 hidden_alert=True %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card border-bottom border-4 border-0 border-primary">
                <div class="card-header">
                    <h4>Criterio de busqueda</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-floating custom-form-floating custom-form-floating-sm form-group mb-3">
                                <select class="form-control" id="id-yearFilterBarSelect">
                                    <option value="">Todos...</option>
                                    {% for year in year_list %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id-yearFilterBarSelect">Año</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-floating custom-form-floating custom-form-floating-sm form-group mb-3">
                                <select class="form-control" id="id-countryFilterBarSelect">
                                    <option value="">Todos...</option>
                                    {% for country in country_list %}
                                        <option value="{{ country.id }}">{{ country }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id-countryFilterBarSelect">Pais</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-floating custom-form-floating custom-form-floating-sm form-group mb-3">
                                <select class="form-control" id="id-managerFilterBarSelect" disabled>
                                </select>
                                <label for="id-managerFilterBarSelect">Gerente</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-floating custom-form-floating custom-form-floating-sm form-group mb-3">
                                <select class="form-control" id="id-adviserFilterBarSelect" disabled>
                                </select>
                                <label for="id-adviserFilterBarSelect">Asesor</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Intituciones aprobadas' value_span_widget_value_id='institutionsActiveCount' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Instituciones pendientes' value_span_widget_value_id='institutionsDisabledCount' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Comisiones pagadas gerente' value_span_widget_value_id='valueCommissionPaidManager' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Comisiones pagadas asesor' value_span_widget_value_id='valueCommissionPaidAdviser' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Comisiones x cobrar gerente' value_span_widget_value_id='valueCommissionXCobrarManager' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Comisiones x cobrar asesor' value_span_widget_value_id='valueCommissionXCobrarAdvisor' %}
        </div>
        <div class="col-lg-3">
            {% include 'v2/common/components/card/card_widget_value.html' with title_card_widget_value='Total compras' value_span_widget_value_id='valueCommissionTotals' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Instituciones</h4>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive mt-4">
                        <table id="id-institutionTable" class="table table-striped mb-0" role="grid">
                            <thead class="table-primary">
                            <tr>
                                <th>Nombre</th>
                                <th>Alias</th>
                                <th>Tipo de registro</th>
                                <th>Representante</th>
                                <th>Identificacion</th>
                                <th>Pais</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Habilitado?</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody id="id-institutionBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">

            {% include 'v2/common/components/chart/chart_simple_bar.html' with title_chart_simple_bart='Comisiones pagadas' id_chart_simple_bart='id-commissionsPaidBarChart' %}

        </div>
        <div class="col-lg-6 col-md-12">

            {% include 'v2/common/components/chart/chart_simple_bar.html' with title_chart_simple_bart='Comisiones x cobrar' id_chart_simple_bart='id-commissionsXCobrarBarChart' %}

        </div>
        <div class="col-lg-12 col-md-12">

            {% include 'v2/common/components/chart/chart_simple_bar.html' with title_chart_simple_bart='Comisiones totales' id_chart_simple_bart='id-commissionsTotalsBarChart' %}

        </div>
    </div>

{% endblock %}

{% block content-modal %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="badge bg-primary" id="id-nameManagerDetailInstitution"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mt-4">
                        <table id="basic-table" class="table table-striped mb-0" role="grid">
                            <thead class="table-primary">
                            <tr>
                                <th>Nº</th>
                                <th>Institucion</th>
                                <th>Fecha compra</th>
                                <th>% asesor</th>
                                <th>% gerente</th>
                                <th>Subtotal</th>
                                <th>Comision</th>
                                <th>C. gerente</th>
                                <th>C. asesor</th>
                            </tr>
                            </thead>
                            <tbody id="id-detailInstitutionBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base-body-js %}

    <script>
        const objElevate = {}

        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $institutionBody: document.getElementById('id-institutionBody'),

                    $tableInstitution: document.querySelector('#id-institutionTable > tbody'),
                    $yearFilterBarSelect: document.getElementById('id-yearFilterBarSelect'),
                    $countryFilterBarSelect: document.getElementById('id-countryFilterBarSelect'),
                    $managerFilterBarSelect: document.getElementById('id-managerFilterBarSelect'),
                    $adviserFilterBarSelect: document.getElementById('id-adviserFilterBarSelect'),

                    ctxCommissionsPaidBarChart: document.getElementById("id-commissionsPaidBarChart"),
                    ctxCommissionsXCobrarBarChart: document.getElementById("id-commissionsXCobrarBarChart"),
                    ctxCommissionsTotalsBarChart: document.getElementById("id-commissionsTotalsBarChart"),

                    barChartCommissionPaid: undefined,
                    barChartCommissionXCobrar: undefined,
                    barChartCommissionTotals: undefined,
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    get_object_list: async (formData) => {
                        const {code, message, data, ...stateExtra} = await ClientHttpFetch.exec(
                            location.pathname,
                            formData
                        )

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind) {
                            return
                        }

                        return data
                    },
                    get_and_load_manager_list: async (country_id) => {

                        objD.elem.$managerFilterBarSelect.disabled = true
                        objD.elem.$adviserFilterBarSelect.disabled = true
                        objD.elem.$adviserFilterBarSelect.innerHTML = ''

                        if (!country_id)
                            return objD.elem.$managerFilterBarSelect.innerHTML = ''

                        const formData = new FormData()
                        formData.append("action", 'get_manager')
                        formData.append("country_id", country_id)

                        const data = await objD.fun.get_object_list(formData)

                        if (data?.manager_list) {
                            objD.elem.$managerFilterBarSelect.innerHTML = [
                                '<option value="">Todos...</option>',
                                ...data.manager_list.map(elem => `<option value="${elem.id}">${elem.value}</option>`)
                            ]
                            objD.elem.$managerFilterBarSelect.disabled = false
                        }
                        return
                    },
                    get_and_load_adviser_list: async (manager_id) => {

                        objD.elem.$adviserFilterBarSelect.disabled = true

                        if (!manager_id)
                            return objD.elem.$adviserFilterBarSelect.innerHTML = ''

                        const formData = new FormData()
                        formData.append("action", 'get_adviser')
                        formData.append("manager_id", manager_id)

                        const data = await objD.fun.get_object_list(formData)

                        if (data?.adviser_list) {
                            objD.elem.$adviserFilterBarSelect.innerHTML = [
                                '<option value="">Todos...</option>',
                                ...data.adviser_list.map(elem => `<option value="${elem.id}">${elem.value}</option>`)
                            ]
                            objD.elem.$adviserFilterBarSelect.disabled = false
                        }
                    }
                }
            }

            const getParameterFilterCommissions = () => {
                const year = objD.elem.$yearFilterBarSelect.value === ''
                    ? null
                    : objD.elem.$yearFilterBarSelect.value
                const countryId = objD.elem.$countryFilterBarSelect.value === ''
                    ? null
                    : objD.elem.$countryFilterBarSelect.value
                const managerId = objD.elem.$managerFilterBarSelect.value === ''
                    ? null
                    : objD.elem.$managerFilterBarSelect.value
                const adviserId = objD.elem.$adviserFilterBarSelect.value === ''
                    ? null
                    : objD.elem.$adviserFilterBarSelect.value

                return {
                    year,
                    countryId,
                    managerId,
                    adviserId
                }
            }

            const getOptionBarChart = (labels, series) => {
                const variableColors = IQUtils.getVariableColor()
                const colors = [variableColors.primary, "#6410F1"]
                return {
                    series,
                    colors,
                    chart: {
                        height: "300px",
                        type: "bar",
                        toolbar: {
                            show: false,
                        },
                    },
                    stroke: {
                        width: 3,
                    },
                    grid: {
                        show: true,
                        strokeDashArray: 7,
                    },
                    fill: {
                        opacity: 1,
                        {#colors: ["#EA6A12", "#6410F1"],#}
                    },
                    xaxis: {
                        categories: labels,
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                        tooltip: {
                            enabled: false,
                        },
                    },
                }
            }

            const getValueCommissionInfoChart = (value_commission_list) => {
                let labels = []
                let values = []

                value_commission_list.map(
                    payment_paid => {
                        return payment_paid.value_presenter_list.map(elem => {
                            labels = [...labels, elem.label]
                            return elem.label
                        })
                    }
                )

                value_commission_list.map(
                    payment_paid => {
                        return payment_paid.value_presenter_list.map(elem => {
                            values = [...values, elem.value]
                            return elem.value
                        })
                    }
                )

                const max = Math.max(...values);

                return {
                    labels,
                    values,
                    max
                }
            }

            const getDetailPaymentSpecific = async (institutionId, optionView) => {
                const formData = new FormData()
                formData.append("action", 'view_detail_institution')
                formData.append("institution_id", institutionId)
                formData.append("option_view", optionView)

                AppSystem.fun.showLoadingUi()

                const {code, message, data, ...stateExtra} = await ClientHttpFetch.exec(
                    location.pathname,
                    formData
                )

                AppSystem.fun.hiddenLoadingUi()

                if (ErrorResponse.KIND_STATIC === stateExtra.kind) {
                    alert(message)
                    return
                }

                let html = ''

                data.order_institution_quotas_list.forEach(elem => {
                    html += `
                        <tr>
                            <td>${elem.number}</td>
                            <td>${elem.institution.name}</td>
                            <td>${elem.date_issue}</td>
                            <td>${elem.commissions_advisers_percentage}</td>
                            <td>${elem.commissions_managers_percentage}</td>
                            <td>${elem.subtotal}</td>
                            <td>${elem.commission_adviser_clean}</td>
                            <td>${elem.commission_manager}</td>
                            <td>${elem.commission_adviser}</td>
                        </tr>
                    `
                })
                html += `<tr>
                        <td colspan="5"></td>
                        <td>${data.subtotal}</td>
                        <td>${data.commission}</td>
                        <td>${data.commission_manager}</td>
                        <td>${data.commission_adviser}</td>
                    </tr>
                `

                document.getElementById('id-detailInstitutionBody').innerHTML = html
                $('#exampleModal').modal('show')
            }

            const getCommissionManager = async () => {
                const {
                    year,
                    countryId,
                    managerId,
                    adviserId
                } = getParameterFilterCommissions()

                const formData = new FormData()
                formData.append("action", 'commission_manager')
                formData.append("year", year)
                formData.append("country_id", countryId)
                formData.append("manager_id", managerId)
                formData.append("adviser_id", adviserId)

                AppSystem.fun.showLoadingUi()
                AppSystem.handleComp.alert.alert.hidden({})

                const {code, message, data, ...stateExtra} = await ClientHttpFetch.exec(
                    location.pathname,
                    formData
                )

                AppSystem.fun.hiddenLoadingUi()

                if (ErrorResponse.KIND_STATIC === stateExtra.kind) {
                    AppSystem.handleComp.alert.alert.show({content: message, typeFeature: AppSystem.CONSTANT.typeFeature.danger})
                    return
                }

                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'institutionsActiveCount', value: data.institutions_active_count})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'institutionsDisabledCount', value: data.institutions_disabled_count})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'valueCommissionPaidManager', value: data.value_commission_paid_manager})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'valueCommissionPaidAdviser', value: data.value_commission_paid_adviser})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'valueCommissionXCobrarManager', value: data.value_commission_x_cobrar_manager})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'valueCommissionXCobrarAdvisor', value: data.value_commission_x_cobrar_adviser})
                AppSystem.handleComp.card.cardWidgetValue.changeValue({id: 'valueCommissionTotals', value: data.value_commission_totals})

                objD.elem.$institutionBody.innerHTML = data.institutions_list.map(elem => {
                    return `
                        <tr>
                            <td>${elem.name}</td>
                            <td>${elem.alias}</td>
                            <td>${elem.type_registration}</td>
                            <td>${elem.representative}</td>
                            <td>${elem.identification}</td>
                            <td>${elem.country}</td>
                            <td>${elem.address}</td>
                            <td>${elem.telephone}</td>
                            <td>${elem.email}</td>
                            <td class="text-center"></td>
                            <td>${elem.count}</td>
                            <td>${elem.subtotal}</td>
                            <td class="text-center">
                                <div class="bd-content">
                                    <a
                                            class="btn btn-icon btn-primary"
                                            rel="action-view-paid"
                                            data-institutionid="${elem.id}"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Comisiones pagadas"
                                    >
                                        <span class="btn-inner"><i class="fas fa-eye black"></i></span>
                                    </a>
                                    <a
                                            class="btn btn-icon btn-outline-secondary"
                                            rel="action-view-x-cobrar"
                                            data-institutionid="${elem.id}"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Comisiones x cobrar"
                                    >
                                        <span class="btn-inner"><i class="fas fa-eye black"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                                `
                })

                if (objD.elem.barChartCommissionPaid)
                    objD.elem.barChartCommissionPaid.destroy()
                if (objD.elem.barChartCommissionXCobrar)
                    objD.elem.barChartCommissionXCobrar.destroy()
                if (objD.elem.barChartCommissionTotals)
                    objD.elem.barChartCommissionTotals.destroy()

                const paidManagerInfoChart = getValueCommissionInfoChart(data.payment_paid_manager_list)
                const paidAdviserInfoChart = getValueCommissionInfoChart(data.payment_paid_adviser_list)
                const managerSeries = [
                    {
                        name: "Comisiones pagadas gerente",
                        data: paidManagerInfoChart.values,
                    },
                    {
                        name: "Comisiones pagadas asesor",
                        data: paidAdviserInfoChart.values,
                    },
                ]

                const xCobrarManagerInfoChart = getValueCommissionInfoChart(data.payment_x_cobrar_manager_list)
                const xCobrarAdviserInfoChart = getValueCommissionInfoChart(data.payment_x_cobrar_adviser_list)
                const adviserSeries = [
                    {
                        name: "Comisiones x cobrar gerente",
                        data: xCobrarManagerInfoChart.values,
                    },
                    {
                        name: "Comisiones x cobrar asesor",
                        data: xCobrarAdviserInfoChart.values,
                    },
                ]

                const totalsInfoChart = getValueCommissionInfoChart(data.payment_totals_list)
                const totalsSeries = [
                    {
                        name: "Total compras",
                        data: totalsInfoChart.values,
                    },
                ]

                objD.elem.barChartCommissionPaid = new ApexCharts(
                    objD.elem.ctxCommissionsPaidBarChart,
                    getOptionBarChart(
                        paidManagerInfoChart.labels,
                        managerSeries,
                    )
                )
                objD.elem.barChartCommissionXCobrar = new ApexCharts(
                    objD.elem.ctxCommissionsXCobrarBarChart,
                    getOptionBarChart(
                        xCobrarManagerInfoChart.labels,
                        adviserSeries,
                    )
                )
                objD.elem.barChartCommissionTotals = new ApexCharts(
                    objD.elem.ctxCommissionsTotalsBarChart,
                    getOptionBarChart(
                        totalsInfoChart.labels,
                        totalsSeries,
                    )
                )

                objD.elem.barChartCommissionPaid.render()
                objD.elem.barChartCommissionXCobrar.render()
                objD.elem.barChartCommissionTotals.render()
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            getCommissionManager()

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////


            objD.elem.$yearFilterBarSelect.addEventListener('change', (e) => {
                getCommissionManager()
            })

            objD.elem.$countryFilterBarSelect.addEventListener('change', async (e) => {
                await objD.fun.get_and_load_manager_list(e.target.value)

                await getCommissionManager()
            })

            objD.elem.$managerFilterBarSelect.addEventListener('change', async (e) => {
                await objD.fun.get_and_load_adviser_list(e.target.value)

                await getCommissionManager()
            })

            objD.elem.$adviserFilterBarSelect.addEventListener('change', (e) => {
                getCommissionManager()
            })


            objD.elem.$tableInstitution.addEventListener('click', async (event) => {
                const targetPaid = event.target.closest('a[rel="action-view-paid"]')
                const targetXCobrar = event.target.closest('a[rel="action-view-x-cobrar"]')

                if (targetPaid) {
                    event.preventDefault()

                    await getDetailPaymentSpecific(targetPaid.dataset.institutionid, 'paid')
                    return
                }

                if (targetXCobrar) {
                    event.preventDefault()

                    await getDetailPaymentSpecific(targetXCobrar.dataset.institutionid, 'xcobrar')
                }

            });
        })

    </script>
{% endblock %}
