{% extends 'v2/base/crud/list/list.html' %}

{% block list-search %}
    <div class="row">
        <div class="col-md col-md-3">
            {% include "v2/common/forms/search/input_search_simple.html" with placeholder_input_search='Buscar asesor por codigo o nombre..' %}
        </div>
        <div class="col-md-3">
            {% include "v2/common/forms/search/input_date_init_simple.html" %}
        </div>
        <div class="col-md-3">
            {% include "v2/common/forms/search/input_date_end_simple.html" %}
        </div>
        <div class="col-md col-md-3">
            {% include "v2/common/forms/search/btn_search.html" %}
        </div>
    </div>
{% endblock %}

{% block list-table-head-colums %}
    <th>Asesor</th>
    <th>Codigo asesor</th>
    <th>Comision periodo 1</th>
    <th>Comision periodo 2</th>
    <th>Comision periodo 3</th>
    <th>Comision especifica?</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block list-table-body-rows %}
    {% for advisers_commissions in object_list %}
        <tr>
            <td>{{ advisers_commissions.adviser }}</td>
            <td>{{ advisers_commissions.adviser.code }}</td>
            <td>{{ advisers_commissions.commissions_period_1 }}</td>
            <td>{{ advisers_commissions.commissions_period_2 }}</td>
            <td>{{ advisers_commissions.commissions_period_3 }}</td>
            <td>
                {% include "component/badge/badge_presentate.html" with badge_type=1 badge_value_bool=advisers_commissions.is_exclude badge_text_bool=True %}
            </td>

            <td class="text-center">
                <div class="btn-group" role="group">
                    <a href="{% url 'advisers:advisers_commissions_update' advisers_commissions.id %}" class="btn btn-primary btn-sm"
                       data-toggle="tooltip" title="" data-original-title="">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
