{% extends 'v2/base/crud/form/form.html' %}


{% block form-card-body %}
    <div class="row">
        <div class="form-group col-6 mb-0 col-lg-6">
            <label class="text-black">Logotipo de Institucion (Formato PNG)<span style="color: red">*</span></label>
            <div class="custom-file">
                <input type="file" name="logo" class="custom-file-input form-control" accept=".png" id="id_logo"
                       required>
                <label class="custom-file-label text-primary" for="{{ form.logo.id_for_label }}">
                    {% if form.logo.value %}
                        {{ form.logo.value }}
                    {% else %}
                        Seleccione imagen
                    {% endif %}
                </label>
            </div>
        </div>
        <div class="form-group col-4 mb-0 col-lg-4">
            <div id="div_id_adviser" class="form-group">
                <label for="id_adviser" class="text-black"> Asesor (Opcional) </label>
                <div>
                    <input type="text" name="adviser" maxlength="10" value="{{ form.instance.adviser.code }}"
                           class="form-control textInput" placeholder="Ingreso codigo del Asesor" id="id_adviser">
                </div>
            </div>
        </div>
        <div class="form-group col-2 mb-0">
            <div id="div_id_adviser" class="form-group">
                <label for="id_adviser" class="text-black">
                    Estado de Registro
                </label>
                <div>
                    {% if institution is not None %}
                        <h3 class="text-white"><span
                                class="badge bg-{{ form.instance.get_bg_status }}">{{ form.instance.get_registration_status_display }}</span>
                        </h3>
                    {% else %}
                        <h3 class="text-white"><span class="badge bg-info">SOLICITANTE</span></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                {{ form.name }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black"
                       for="{{ form.country.id_for_label }}">{{ form.country.label }}:</label>
                {{ form.country }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.type_registration.id_for_label }}">
                    {{ form.type_registration.label }}:
                </label>
                {{ form.type_registration }}
            </div>
        </div>
        <div class="form-group col-6 mb-0">
            <label class="text-black">Cargar constitucion de la institución (Formato PDF)<span
                    style="color: red">*</span></label>
            <div class="custom-file">
                {{ form.file_constitution }}
                <label class="custom-file-label text-primary"
                       for="{{ form.file_constitution.id_for_label }}">
                    {% if form.file_constitution.value %}
                        {{ form.file_constitution.value }}
                    {% else %}
                        Seleccione archivo
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.representative.id_for_label }}">
                    {{ form.representative.label }}:
                </label>
                {{ form.representative }}
            </div>
        </div>
        <div class="form-group col-6 mb-0">
            <label class="text-black">Cargar nominacion (Formato PDF)
                <span style="color: red">*</span></label>
            <div class="custom-file">
                {{ form.file_nomination }}
                <label class="custom-file-label text-primary" for="{{ form.file_nomination.id_for_label }}">
                    {% if form.file_nomination.value %}
                        {{ form.file_nomination.value }}
                    {% else %}
                        Seleccione archivo
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.representative_academic_level.id_for_label }}">
                    {{ form.representative_academic_level.label }}:
                </label>
                {{ form.representative_academic_level }}
            </div>
        </div>
        <div class="form-group col-6 mb-0">
            <label class="text-black">Grado Academico del representante (Formato PDF) <span style="color: red">*</span></label>
            <div class="custom-file">
                {{ form.file_title_academic }}
                <label class="custom-file-label text-primary"
                       for="{{ form.file_title_academic.id_for_label }}">
                    {% if form.file_title_academic.value %}
                        {{ form.file_title_academic.value }}
                    {% else %}
                        Seleccione archivo
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="form-group col-6 mb-0 col-lg-6">
            <label class="text-black">Firma para certificados (Formato PNG)<span style="color: red">*</span></label>
            <div class="custom-file">
                <input
                        type="file"
                        name="signature"
                        class="custom-file-input form-control"
                        accept=".png"
                        id="id_logo"
                        required
                >
                <label class="custom-file-label text-primary" for="{{ form.signature.id_for_label }}">
                    {% if form.signature.value %}
                        {{ form.signature.value }}
                    {% else %}
                        Seleccione imagen
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.identification.id_for_label }}">
                    {{ form.identification.label }}:
                </label>
                {{ form.identification }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}:
                </label>
                {{ form.email }}
            </div>
        </div>
    </div>
{% endblock %}
{% block base-body-js %}
    <script>
        const MAXIMOSIZE = 2097152;
        const formFields = document.querySelector('#id-form')
        const customFileInput = document.querySelectorAll('input[type=file]')

        $('#id_country').select2()

        formFields.addEventListener('submit', (e) => {
            e.preventDefault();
            formFields.classList.add('was-validated');
            if (formFields.checkValidity() === false) {
                e.preventDefault();
                e.stopPropagation();
            } else {

                let validate = false;
                let inputValidate = null
                customFileInput.forEach((elem) => {
                    const file = elem.files[0]
                    if (file && (file.size > MAXIMOSIZE || file.fileSize > MAXIMOSIZE)) {
                        inputValidate = elem
                        validate = true
                    }
                })

                if (validate) {
                    inputValidate.focus()
                    inputValidate.classList.add('invalid');
                    return false
                }

                formFields.submit();
            }
        })

        customFileInput.forEach((elem) => elem.addEventListener('change', (e) => {
            const element = e.target
            if (element) {
                const fileName = element.value.split("\\").pop();
                let fileSize = element.files[0].size;
                fileSize = niceBytes(fileSize);
                const inputLabel = element.nextElementSibling
                inputLabel.classList.add("selected")
                inputLabel.innerText = `${fileName} Tamaño: ${fileSize.toString()}`
            }
        }))

        {% if messages %}
            {% for message in messages %}
                {% if message.tags.lower == 'success' %}
                    AppSystem.handleComp.alert.alert.show({
                        id: 'success',
                        title: "{{ message }}",
                        typeFeature: AppSystem.CONSTANT.typeFeature.success
                    })
                {% else %}
                    AppSystem.handleComp.alert.alert.show({
                        title: "{{ message }}",
                        typeFeature: AppSystem.CONSTANT.typeFeature.danger
                    })
                {% endif %}
            {% endfor %}
        {% endif %}


        {% if institution.logo %}
            document.querySelector('#id_logo').removeAttribute('required');
        {% endif %}
        {% if institution.file_constitution %}
            document.querySelector('#id_file_constitution').removeAttribute('required');
        {% endif %}
        {% if institution.file_nomination %}
            document.querySelector('#id_file_nomination').removeAttribute('required');
        {% endif %}
        {% if institution.file_title_academic %}
            document.querySelector('#id_file_title_academic').removeAttribute('required');
        {% endif %}
        {% if institution.signature %}
            document.querySelector('#id_signature').removeAttribute('required');
        {% endif %}

    </script>
{% endblock %}
