{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block container-main %}
    <div class="container-fluid" style="margin: 3rem;">
        <div class="row">
            <div class="col-lg-10 col-md mt-4">
                <h4 class="border-bottom-3 font-weight-bold"><b>OBTÉN MÁS REGISTROS</b></h4>
            </div>
            <div class="col-lg-2 col-md text-center">
                <a href="{% url 'transactions:shopping_cart_buy' %}" type="button" class="btn btn-lg" style="border-radius:25px; font-size: 1rem; color: black">
                    <i class="fas fa-cart-plus" style="font-size: 3rem; color: #fd7e14"></i>
                    <span class="badge badge-danger rounded-pill" style="font-size: 16px" id="id-spanQuoteSum">{{ quota_sum }}</span>
                </a>
            </div>
        </div>
        <hr class="mt-0">
        <p class="mb-0"><b>Puedes seguir adquiriendo más registros para seguir ingresando tus títulos y/o certificaciones.</b></p>
        {% for dicc in type_registries_list %}
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-lg-12">
                    <hr style="background: lightgrey"/>
                </div>
                <div class="col-lg-4 col-md">
                    <div
                            style="border-radius:25px; background: {{ dicc.type_registries.color }}"
                            class="alert alert-light mb-0 mt-5 text-center register shadow-lg m-auto"
                            role="alert"
                    >
                        <p class="display-3 text-center white"><b class="circle">{{ dicc.type_registries.registers_level_count }}</b></p>
                        <p class="white"><b>REGISTROS {{ dicc.type_registries.name }}</b></p>
                        <p class="white"><b> $ {{ dicc.type_registries.price }}</b></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md">
                    <p style="color: black">
                        <b>{{ dicc.type_registries.detail|upper }}</b>
                    </p>
                    {% if dicc.has_type_register_assigned %}
                        <p class="font-weight-bold">
                            Actualmente tiene disponible <span class="badge badge-danger rounded-pill">{{ dicc.quota_balance }}</span> registros. Adquiera más
                            registros para seguir ingresando sus certificados.
                        </p>
                    {% else %}
                        <p style="color: red">
                            Usted no tiene autorización para adquirir este registro. Si
                            requiere comprar del mismo, póngase en contacto con nosotros.
                        </p>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3 col-md">
                            <input
                                    type="number"
                                    class="form-control"
                                    id="id-{{ dicc.institution_id }}{{ dicc.type_registries.id }}"
                                    value="5"
                                    min="1"
                                    {% if not dicc.has_type_register_assigned %} readonly {% endif %}
                            >
                        </div>
                        <div class="col-lg-6 col-md">
                            {% if dicc.has_type_register_assigned %}
                                <button type="button" class="btn btn-warning btn-lg btn-block font-weight-bold black" style="border-radius:25px; font-size: 1rem">
                                    Precio unitario final: <span class="badge badge-danger rounded-pill"> US $ {{ dicc.price_discount }}</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md">
                    <button
                            type="button"
                            class="btn btn-warning btn-lg btn-block cls-btn-add-to-cart font-weight-bold"
                            style="border-radius:25px; background: {% if dicc.has_type_register_assigned %}red{% endif %}; font-size: 1rem"
                            {% if not dicc.has_type_register_assigned %} disabled {% endif %}
                            data-institutionid="{{ dicc.institution_id }}"
                            data-typeregisterid="{{ dicc.type_registries.id }}"
                    >
                        Agregar al Carrito
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block jscript %}
    <script>
        document.addEventListener("DOMContentLoaded", e => {
            const alert = document.getElementById('id-alert');
            const spanQuoteSum = document.getElementById('id-spanQuoteSum');

            var objD = {
                elems: {},
                attr: {},
                CONSTANT: {},
                model: {},
                fun: {
                    addToCart: async function (institutionId, typeRegisterId, quotes) {

                        const formData = new FormData();
                        formData.append("action", 'add_item')
                        formData.append("institutionId", institutionId)
                        formData.append("typeRegisterId", typeRegisterId)
                        formData.append("quotes", quotes)

                        const [status, json] = await mFetch('{{ request.path }}', formData, 'POST');
                        if (status === 200) {
                            spanQuoteSum.innerText = json.quota_sum
                        } else {
                            alert.innerText = json.errors.join(',');
                            alert.classList.remove('d-none');
                        }

                    },
                }
            }

            document.addEventListener('click', (e) => {
                if (e.target.matches(".cls-btn-add-to-cart")) {
                    const institutionId = e.target.dataset.institutionid
                    const typeRegisterId = e.target.dataset.typeregisterid
                    const quotes = Number(document.getElementById(`id-${institutionId}${typeRegisterId}`).value)

                    objD.fun.addToCart(institutionId, typeRegisterId, quotes)
                }
            })
        });
    </script>
{% endblock %}