{% for field in form.visible_fields %}
    <div class="form-group row">
        <label class="control-label col-sm-3 align-self-center mb-0 text-black" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        <div class="col-sm-9">
            {% include "v2/common/forms/form_presentate_only_field.html" %}
            <div class="form-text">{{ field.help_text }}</div>
        </div>
        {{ field.errors }}
        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
    </div>
{% endfor %}