{% extends 'v2/base/crud/form/form.html' %}

{% block form-card-body %}
    <div class="form-group row">
        <label class="control-label col-sm-3 align-self-center mb-0 text-black" for="{{ form_2.managers_specific.id_for_label }}">{{ form_2.managers_specific.label }}:</label>
        <div class="col-sm-9">
            {{ form_2.managers_specific }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form_2.manager_percentage.id_for_label }}">{{ form_2.manager_percentage.label }}:</label>
                {{ form_2.manager_percentage }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label text-black" for="{{ form_2.manager_percentage_max.id_for_label }}">{{ form_2.manager_percentage_max.label }}:</label>
                {{ form_2.manager_percentage_max }}
            </div>
        </div>
    </div>
{% endblock %}

{% block base-body-js %}

    <script>
        const objElevate = {}
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $form: document.getElementById('id-form'),

                    $managers_specific: document.getElementById('id_managers_specific'),

                    $manager_percentage_max: document.getElementById('id_manager_percentage_max'),
                    $manager_percentage: document.getElementById('id_manager_percentage'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    getSelectValues: function (select) {
                        // TODO: getSelectValues debe ser llevadas a una clase para ser reutilizada
                        // https://stackoverflow.com/questions/5866169/how-to-get-all-selected-values-of-a-multiple-select-box

                        {#var options = document.getElementById('select-meal-type');#}
                        {#var values = Array.from(options.selectedOptions).map(({ value }) => value);#}

                        let result = []
                        const options = select && select.options

                        for (let i = 0, iLen = options.length; i < iLen; i++) {
                            const opt = options[i]

                            if (opt.selected) {
                                result.push(opt.value || opt.text)
                            }
                        }
                        return result
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            $('#id_managers_specific').select2();

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////

            objD.elem.$manager_percentage.addEventListener('change', (e) => {
                if (parseInt(e.target.value) > parseInt(objD.elem.$manager_percentage_max.value))
                    alert("Excedió valor maximo: " + objD.elem.$manager_percentage_max.value)
            })

            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                ConfirmCommon.exec({
                    title: objD.fun.getSelectValues(objD.elem.$managers_specific).length === 0
                        ? "A seleccionado TODOS los gerentes."
                        : "Solo se afectara a los gerentes escogidos.",
                    confirmCallback: () => objD.elem.$form.submit()
                })

            })

        })

        {% if messages %}
            {% for message in messages %}
                {% if message.tags.lower == 'success' %}
                    AppSystem.handleComp.alert.alert.show({title: "{{ message }}", typeFeature: AppSystem.CONSTANT.typeFeature.success})
                {% elif message.tags.lower == 'error'  %}
                    AppSystem.handleComp.alert.alert.show({title: "{{ message }}", typeFeature: AppSystem.CONSTANT.typeFeature.danger})
                {% endif %}
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}

