<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{{ title }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

        html, body {
            font-family: 'Roboto', sans-serif;
        }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/vendor/datatables/dataTables.bootstrap4.min.css"/>

    {#    DATATABLE #}
    {#    <link rel="stylesheet" href="lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css"/>#}
    {#    <script src="lib/datatables-1.10.25/js/jquery.dataTables.js"></script>#}
    {#    <script src="lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js"></script>#}
    {#    <script src="lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js"></script>#}
    <link href="/static/css/uikit.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/responsive.css" media="only screen and (max-width: 1200px)">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    {% block headcss %}
    {% endblock %}
</head>
<body>
<div id="load-content" class="loader-wrapper text-center">
    <div class="spinner-border text-primary" role="status" style="margin: auto;margin-top: calc(40vh);width: 3rem; height: 3rem;">
    </div>
    <br>
    <span class="text-white">Cargando..</span>
</div>
<header id="id-header">
    {% block header %}
    {% endblock %}
</header>

<main id="id-main">
    <div id="wrapper">
        {% block sidebar-navbar %}
            <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" style="margin-top: 2.3rem" id="accordionSidebar">
                <hr class="sidebar-divider my-0">
                <li class="nav-item mt-4 d-flex justify-content-center align-items-center flex-column text-center">
                    {% if user.institution.get_logo_url is not None %}
                        <img src="{{ user.institution.get_logo_url }}" class="brand-image img-circle elevation-2" width="130px">
                    {% else %}
                        <img src="/static/img/logo/empty.png" class="brand-image img-circle elevation-2" width="130px">
                    {% endif %}
                    {% if user.institution is not None %}
                        <p class="white"><b>{{ user.institution.name| title }}</b></p>
                    {% endif %}
                </li>
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active mt-4">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <b>Dashboard</b></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    MENU DE OPCIONES
                </div>

                <!-- Nav Item - Pages Collapse Menu -->

                {% for gc in module_grup_categories %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-{{ gc.main_category.id }}" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-cog"></i>
                            <b>{{ gc.main_category.name }}</b>
                        </a>
                        <div id="collapse-{{ gc.main_category.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                {% for cm in gc.get_grup_category_modules %}
                                    <a class="collapse-item" href="{{ cm.module.url }}">{{ cm.module.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                {% empty %}
                    <br><b class="text-white">No se encontro modulos</b><br>
                {% endfor %}

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">

                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <b>Registros</b>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="login.html">Ingresos de Registros</a>
                            <div class="collapse-divider"></div>
                            <a class="collapse-item" href="/security/organizador-registros">Organizador de Registros</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transactions:shopping_cart' %}">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        <b>Obtén más Registros</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'advisers:payment_adviser_commissions_list' %}">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        <b>Pagos de comisiones</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'advisers:dashboard_advisor' %}">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        <b>Dashboard asesor</b>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesComisiones" aria-expanded="true" aria-controls="collapsePagesComisiones">
                        <i class="fas fa-fw fa-folder"></i>
                        <b>Comisiones</b>
                    </a>
                    <div id="collapsePagesComisiones" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="{% url 'advisers:advisers_commissions_list' %}">Asesores</a>
                            <div class="collapse-divider"></div>
                            <a class="collapse-item" href="/security/organizador-registros">Gerentes</a>
                        </div>
                    </div>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                <!-- Sidebar Message -->


            </ul>
        {% endblock %}

        {% block container-main %}
        {% endblock %}
    </div>

    {% block frmodal %}
    {% endblock %}
</main>

<footer id="id-footer">
    {% block footer %}
    {% endblock %}
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--script src="/static/js/sb-admin-2.min.js"></script-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/js/sb-admin-2.min.js"></script>
{#<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>#}
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/chart.js/Chart.js"></script>
<script src="/static/lib/js.cookie.min.js"></script>
<script src="/static/js/toast.js"></script>
<script src="/static/js/app.js"></script>
{% block js %}
{% endblock %}
{% block jscript %}
{% endblock %}
{% block jscript-2 %}
{% endblock %}

</body>
