{% extends 'base.html' %}
{% block headcss %}
   <link rel="stylesheet" href="/static/css/select2.min.css">
   <link rel="stylesheet" href="/static/css/select2-bootstrap4.min.css">
   <style>
        .has-error .select2-selection {
            border-color: rgb(185, 74, 72) !important;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block container-main %}
{% endblock %}

{% block js %}
    <script src="/static/js/select2.min.js"></script>
{% endblock %}

{% block jscript %}
  <script>
    $(function () {
        $('select.select2-design').each(function () {
            $(this).select2({
              theme: 'bootstrap4',
              width: 'style',
              placeholder: $(this).attr('placeholder'),
              allowClear: Boolean($(this).data('allow-clear')),
            });
        });
    });
  </script>
{% endblock %}
