<nav class="navbar navbar-landing navbar-expand-lg navbar-dark bg-gradient-secondary p-0">
    <div class="container-fluid">
        <a class="navbar-brand mr-auto" href="/" style="font-weight: bolder;font-size: 15px;letter-spacing:4px">
{#                <i class="{{ system_logo }}"></i>#}
{#                <img src="/static/img/logo/logo-global-2.jpeg" width="70px" style="border-radius: 5px">#}
                {{ system_name }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.get_foto_url is not None %}
                         <img src="{{ user.get_foto_url }}" style="border-radius: 50%;box-shadow: 0 0 2px rgba(10, 10, 10, 0.3);width: 32px;height: 32px;position: relative;background: #fff;">
                            {% else %}
                            <i class="fa fa-user-circle fa fa-1x"></i>
                        {% endif %}

                        | {{ user.last_name }} {{ user.first_name }} (<em>{{ grupo.name }}</em>)
                    </a>
                    {% if user_grupos %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 13px">
                            {% for g in user_grupos %}
                                <a class="dropdown-item {% if g.id == grupo.id %} active {% endif %}" href="{% if g.id == grupo.id %}#{% else %}/?gpid={{ g.id }} {% endif %}">
                                        {% if g.id == grupo.id %}<i class="fa fa-check"></i>{% endif %}
                                        {{ user.last_name }} {{ user.first_name }} (<em>{{ g.name }}</em>)
                                </a>
                            {% endfor %}

                        </div>
                    {% endif %}
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll text-white" href="/admin/" title="Mantenimiento">
                            <i class="fa fa-cogs" style="font-size: 18px"></i>
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link page-scroll text-white" href="/security/logout">
                        <i class="fa fa-sign-out-alt" style="font-size: 18px"></i> Salir
                    </a>
                </li>
            </ul>
           {% endif %}
        </div>
    </div> <!-- container //  -->
</nav>
