{% extends 'v2/base/base.html' %}


{% block content %}

    <div class="card">

        <div class="card-header">
            <h3 class="card-title">
                {{ title_label }}
            </h3>
        </div>

        <div class="card-body">

            {% block list-card-body %}

                {% block list-table-before %}
                {% endblock %}

                <table class="{% block list-table-class %}table table-striped table-sm{% endblock %}" id="id-table">
                    <thead class="table-primary">
                    <tr>
                        {% block list-table-head-colums %}
                        {% endblock %}
                    </tr>
                    </thead>

                    <tbody>
                    {% block list-table-body-rows %}
                    {% endblock %}
                    </tbody>

                    <tfoot>
                    {% block list-table-body-foot %}
                    {% endblock %}
                    </tfoot>
                </table>

                {% block list-table-after %}
                {% endblock %}

            {% endblock %}
        </div>

        {% block list-wrapper-card-footer %}

            <div class="card-footer">
                {% block list-card-footer %}

                    {% include "v2/common/components/pagination/pagination.html" %}

                    {% block list-card-footer-buttoms %}
                        {% if create_url %}
                            <a href="{{ create_url }}{{ next_query }}" class="btn btn-primary">
                                <i class="fas fa-plus-circle"></i> Nuevo registro
                            </a>
                        {% endif %}

                        {% if back_url %}
                            <a href="{{ back_url }}" class="btn btn-dark">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                                Regresar
                            </a>
                        {% endif %}
                    {% endblock %}

                {% endblock %}
            </div>

        {% endblock %}
    </div>

{% endblock %}