{% extends 'v2/base/crud/form/form.html' %}

{% load crispy_forms_tags %}

{% block form-card-footer %}
    <button class="btn btn-primary ml-2" type="button" id="id-btnSave">
        <i class="fas fa-save"></i> Guardar registro
    </button>
    <button type="button" class="btn btn-secondary float-end" onclick="window.location='{{ back_url }}'">
        <i class="fa fa-arrow-left"></i> Atras
    </button>
    <button class="btn btn-success float-end mx-3" id="id-btnCalculate">
        <i class="fas fa-calculator"></i> Calcular
    </button>
{% endblock %}

{% block form-after-card %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="id-table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Valor de comision</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody id="id-detailBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content-modal %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="id-modalTitle">Detalle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive mt-4">
                        <table id="basic-table" class="table table-striped mb-0" role="grid">
                            <thead class="table-primary">
                            <tr>
                                <th>Nº</th>
                                <th>Institucion</th>
                                <th>Fecha compra</th>
                                <th>% asesor</th>
                                <th>% gerente</th>
                                <th>Subtotal</th>
                                <th>Comision</th>
                                <th>C. gerente</th>
                                <th>C. asesor</th>
                            </tr>
                            </thead>
                            <tbody id="id-detailAdviserBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {##}
    {#    <!-- Modal -->#}
    {#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
    {#        <div class="modal-dialog modal-xl">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="id-modalTitle">Detalle</h5>#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                        <span aria-hidden="true">&times;</span>#}
    {#                    </button>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <table class="table">#}
    {#                        <thead>#}
    {#                        <tr>#}
    {#                            <th>Numero de compra</th>#}
    {#                            <th>Institucion</th>#}
    {#                            <th>Fecha de compra</th>#}
    {#                            <th>% comision asesor</th>#}
    {#                            <th>% comision gerente</th>#}
    {#                            <th>Subtotal</th>#}
    {#                            <th>Comision</th>#}
    {#                            <th>Comision gerente</th>#}
    {#                            <th>Comision asesor</th>#}
    {#                        </tr>#}
    {#                        </thead>#}
    {#                        <tbody id="id-detailAdviserBody">#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block base-body-js %}
    <script>
        const objElevate = {
            action: '{{ action }}',
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            const objD = {
                CONSTANT: {},
                elem: {
                    $typeFunctionary: document.getElementById('id_type_functionary'),
                    $month: document.getElementById('id_month'),
                    $year: document.getElementById('id_year'),
                    $form: document.getElementById('id-form'),
                    $table: document.getElementById('id-table'),
                    $detailBody: document.getElementById('id-detailBody'),
                },
                repeat: {},
                loadFirst: {},
                model: {},
                fun: {
                    loadDataTable: async () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", 'calculate')

                        objD.elem.$detailBody.innerHTML = ''

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        let html = ''

                        data.calculate_payment_commissions.payment_commissions_details_list.forEach(elem => {
                            c(elem)
                            const nameFuncionary = elem.type_functionary === 0
                                ? `${elem.adviser.first_name} ${elem.adviser.last_name}`
                                : `${elem.manager.first_name} ${elem.manager.last_name}`

                            const buttons = `
                                <a rel="relBtnDetail" data-toggle="tooltip" data-object='${JSON.stringify(elem)}' class="btn btn-success btn-xs btn-flat">
                                    <i class="fas fa-list white" aria-hidden="true"></i>
                                </a>
                            `

                            html += `
                                <tr>
                                    <td>${nameFuncionary}</td>
                                    <td>${elem.value_commission}</td>
                                    <td>${buttons}</td>
                                </tr>
                            `
                        })

                        objD.elem.$detailBody.innerHTML = html
                    },
                    createCommissionFacade: () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", objElevate.action)
                        const type_functionary = formData.get('type_functionary')
                        const month = formData.get('month')

                        if (type_functionary === '') {
                            return AppSystem.handleComp.alert.alert.show({
                                title: "Debe se escoger un tipo de funcionario.",
                            })
                        }
                        if (month === '')
                            return AppSystem.handleComp.alert.alert.show({
                                title: "Debe se escoger un el mes.",
                            })

                        ConfirmCommon.exec({
                            confirmCallback: () => objD.fun.createCommission({formData})
                        })
                    },
                    createCommission: async ({formData}) => {

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        window.location = '{{ back_url }}'
                    },
                    getNextPayment: async () => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", 'get_next_date_payment')

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        objD.elem.$month.value = data.month.toString()
                        objD.elem.$year.value = data.year.toString()

                        await objD.fun.loadDataTable()

                    },
                    getDetailPaymentSpecific: async (object_id) => {
                        const formData = new FormData(objD.elem.$form)
                        formData.append("action", 'view_detail')
                        formData.append("object_id", object_id)

                        const {code, message, data, ...stateExtra} = await CrudCommon.fetch.submitForm({formData})

                        if (ErrorResponse.KIND_STATIC === stateExtra.kind)
                            return

                        let html = ''

                        data.order_institution_quotas_list.forEach(elem => {
                            html += `
                                <tr>
                                    <td>${elem.number}</td>
                                    <td>${elem.institution.name}</td>
                                    <td>${elem.date_issue}</td>
                                    <td>${elem.commissions_advisers_percentage}</td>
                                    <td>${elem.commissions_managers_percentage}</td>
                                    <td>${elem.subtotal}</td>
                                    <td>${elem.commission_adviser_clean}</td>
                                    <td>${elem.commission_manager}</td>
                                    <td>${elem.commission_adviser}</td>
                                </tr>
                            `
                        })
                        html += `<tr>
                                    <td colspan="7"></td>
                                    <td>${data.commission_manager}</td>
                                    <td>${data.commission_adviser}</td>
                                </tr>`

                        document.getElementById('id-detailAdviserBody').innerHTML = html
                        document.getElementById('id-modalTitle').innerText = `
                            Detalle de comisiones de: ${
                            data.adviser
                                ? `${data.adviser.first_name} ${data.adviser.last_name}`
                                : data.manager
                                    ? `${data.manager.first_name} ${data.manager.last_name}`
                                    : "Error"
                        }
            `
                        $('#exampleModal').modal('show')
                    }
                }
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  CARGA DEFECTO  ///////////////////////////////////////////////////

            if (objElevate.action === 'edit' || objElevate.action === 'view_detail') {


                if (objElevate.action === 'view_detail') {
                    document.getElementById('id-btnSave').classList.add('d-none')
                    document.getElementById('id-btnCalculate').classList.add('d-none')
                }

                {#objD.elem.$typeFunctionary.disabled = true#}
                {#objD.elem.$year.disabled = true#}
                {#objD.elem.$month.disabled = true#}

                objD.fun.loadDataTable()
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ///////////////////////////////////////////////  EVENTOS  /////////////////////////////////////////////////////////


            objD.elem.$form.addEventListener('submit', (e) => {
                e.preventDefault()

                objD.fun.loadDataTable()
            })

            document.getElementById('id-btnSave').addEventListener("click", async (e) => {
                objD.fun.createCommissionFacade()
            })

            objD.elem.$typeFunctionary.addEventListener("change", async (e) => {
                if (!e.target.value)
                    return
                await objD.fun.getNextPayment()
            })

            document.addEventListener('click', (event) => {
                const target = event.target.closest('a[rel="relBtnDetail"]');

                if (target) {
                    event.preventDefault()
                    const adviserManager = JSON.parse(target.dataset.object)

                    objD.fun.getDetailPaymentSpecific(
                        parseInt(objD.elem.$typeFunctionary.value) === 0
                            ? adviserManager.adviser.id
                            : adviserManager.manager.id
                    )
                }

            })
        })
    </script>
{% endblock %}
