{% extends 'v2/base/crud/list/list.html' %}


{% block form-search-input %}
    <div class="col-md input-group input-group col-md-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="fa fa-user-graduate"></i>
            </span>
        </div>
        <input
                type="text"
                name="search"
                value="{{ search }}"
                class="form-control"
                placeholder="Buscar asesor por codigo o nombre.."
        >
        <div class="input-group-append">
            <button class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block list-table-head-colums %}
    <th>Numero</th>
    <th>Tipo</th>
    <th>Fecha de pago</th>
    <th>Año</th>
    <th>Mes</th>
    <th>Valor de comision</th>
    <th class="text-center">Opciones</th>
{% endblock %}


{% block list-table-body-rows %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.number }}</td>
            <td>{{ object.get_type_functionary_display }}</td>
            <td>{{ object.date_payment | date:"Y-m-d" }}</td>
            <td>{{ object.year }}</td>
            <td>{{ object.get_month_display }}</td>
            <td>{{ object.values_commission }}</td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    {% if not object.pay_period %}
                        <a
                                href="{% url "advisers:payment_adviser_commissions_update" object.id %}"
                                class="btn btn-primary btn-sm rounded-pill"
                                data-toggle="tooltip" title=""
                                data-original-title=""
                                data-id="{{ object.id }}"
                        >
                            <i class="fa fa-edit"></i>
                        </a>
                    {% endif %}
                    <a
                            href="{% url "advisers:payment_adviser_commissions_update" object.id %}?action=view_detail"
                            class="btn btn-primary btn-sm rounded-pill"
                            data-toggle="tooltip" title=""
                            data-original-title=""
                            data-id="{{ object.id }}"
                    >
                        <i class="fa fa-list"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
