<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema {{ system_name }}</title>
</head>
<body>

<br>

Estimado usuario, se le recuerda que han transcurrido mas de 25 días de que ingresó a nuestro sutio web para crear un
usuario de institución y no ha registrado aun los datos de su institucion, por tal motivo le indicamos que le quedan
menos de cinco dias para ingresar todos los datos requeridos de su institucion en nuestro sitio. De no hacerlo,
lamentamos indicar que por motivos de almacenamiento y seguridad procederemos a borrar su usuario y credenciales.
Por favor ayudemos ingresando los datos en la opción de configuracion de datos de institucion con su usuario y clave
asignada para que no pierda su usuario y proceder a la validacion de sus datos ingresados con el perfil insitutcion.

<br>

Atentamente.

<br>

Gerente/administrador

<br>

Global Register

<br>
<br>

Este es un mensaje automático, no debe responder a este mensaje.<br>

</body>
</html>
