<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema {{ system_name }}</title>
</head>
<body>
<b>Mensaje desde el sistema {{ system_name }}.</b><br><br>

Hola estimado(a):<br><br>

Hemos recibido su pedido para recuperar la contraseña de su cuenta:<br>
Nombre de usuario: {{ user.email }}<br>

Para realizar el cambio de contraseña haz click en el siguiente enlace:
<a href="{{ url_reset_password }}">Clic Aqui</a><br><br>

Gracias por usar {{ system_name }}.<br>
Este es un mensaje automático, no debe responder a este mensaje.

</body>
</html>
