<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema {{ system_name }}</title>
</head>
<body>

Estimados: {{ institution.name }}<br>
Se ha culminado con éxito el proceso de Aprobacion de los datos de su institución<br>
Gracias por utilizar nuestro servicio. Si tiene una consulta puede comunicarse su asesor<br>
<br>
Observaciones:{{ message }}
<br>
<br>

Atentamente.<br>
Gerente/administrador<br>
Global Register
<br>
<br>
Este es un mensaje automático, no debe responder a este mensaje.<br>
</body>
</html>
